<h1><center> HTS Reporting Rates </center></h1>

In [1]:
import pandas as pd
import numpy as np
import calendar

In [2]:
# Declare the From and To Dates
FromDate = pd.to_datetime("2021-05-01")
ToDate = pd.to_datetime("2021-05-31")
# ToDate = pd.to_datetime(FromDate) + pd.offsets.MonthEnd()+pd.DateOffset(days=5)
print('From Date: ',FromDate,'To Date: ',ToDate)

From Date:  2021-05-01 00:00:00 To Date:  2021-05-31 00:00:00

### Import the data
- This is data on reporting for all the Active EHTS Sites and those that reported in the last 12 months

In [3]:
rr = pd.read_csv("C:/Users/Admin/Desktop/Reporting Rates/ReportingRatesHTS_Mysql.csv")
rr.head()

,DisplayMFL,DisplayFacilityName,DisplayCounty,DisplayMechanism,DisplayAgency,SiteCode,UploadDate,Upload_monthYear,MPI_SiteCode,UploadDate_MPI,Upload_monthYear_MPI
0,11936,ATHI RIVER HEALTH CENTRE,MACHAKOS,CHS NAISHI,CDC,11936.0,04/02/2021,Apr-21,11936.0,04/02/2021,Apr-21
1,11936,ATHI RIVER HEALTH CENTRE,MACHAKOS,CHS NAISHI,CDC,11936.0,08/07/2020,Aug-20,NaN,NaN,NaN
2,11936,ATHI RIVER HEALTH CENTRE,MACHAKOS,CHS NAISHI,CDC,11936.0,12/10/2020,Dec-20,11936.0,12/10/2020,Dec-20
3,11936,ATHI RIVER HEALTH CENTRE,MACHAKOS,CHS NAISHI,CDC,11936.0,02/10/2021,Feb-21,11936.0,02/10/2021,Feb-21
4,11936,ATHI RIVER HEALTH CENTRE,MACHAKOS,CHS NAISHI,CDC,11936.0,01/22/2021,Jan-21,11936.0,01/22/2021,Jan-21

In [4]:
rr.shape

(4085, 11)

In [5]:
rr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4085 entries, 0 to 4084
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DisplayMFL            4085 non-null   int64
 1   DisplayFacilityName   4085 non-null   object
 2   DisplayCounty         4085 non-null   object
 3   DisplayMechanism      4085 non-null   object
 4   DisplayAgency         4083 non-null   object
 5   SiteCode              4035 non-null   float64
 6   UploadDate            4035 non-null   object
 7   Upload_monthYear      4035 non-null   object
 8   MPI_SiteCode          2684 non-null   float64
 9   UploadDate_MPI        2684 non-null   object
 10  Upload_monthYear_MPI  2684 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 351.2+ KB

### Data Cleaning
- Convert Dates to correct data types
- Replace NULL with NA's 
- Remove Duplicates (Grouped by MFLCode and UploadDate)

In [6]:
rr=rr.replace({'NULL':np.NaN})

In [7]:
# Columns with NULLS
rr.columns[rr.isna().any()].tolist()

['DisplayAgency',
 'SiteCode',
 'UploadDate',
 'Upload_monthYear',
 'MPI_SiteCode',
 'UploadDate_MPI',
 'Upload_monthYear_MPI']

In [8]:
#convert the upload_date and Upload_date MPI field from object to datetime datatype
rr['UploadDate'] = pd.to_datetime(rr['UploadDate'])
rr['UploadDate_MPI'] = pd.to_datetime(rr['UploadDate_MPI'])

In [9]:
rr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4085 entries, 0 to 4084
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DisplayMFL            4085 non-null   int64
 1   DisplayFacilityName   4085 non-null   object
 2   DisplayCounty         4085 non-null   object
 3   DisplayMechanism      4085 non-null   object
 4   DisplayAgency         4083 non-null   object
 5   SiteCode              4035 non-null   float64
 6   UploadDate            4035 non-null   datetime64[ns]
 7   Upload_monthYear      4035 non-null   object
 8   MPI_SiteCode          2684 non-null   float64
 9   UploadDate_MPI        2684 non-null   datetime64[ns]
 10  Upload_monthYear_MPI  2684 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(1), object(6)
memory usage: 351.2+ KB

In [10]:
rr.tail()

,DisplayMFL,DisplayFacilityName,DisplayCounty,DisplayMechanism,DisplayAgency,SiteCode,UploadDate,Upload_monthYear,MPI_SiteCode,UploadDate_MPI,Upload_monthYear_MPI
4080,17242,KAMOLO DISPENSARY,BUSIA,IRDO,CDC,17242.0,2020-09-15,Sep-20,NaN,NaT,NaN
4081,15968,LUKOLIS MODEL HEALTH CENTRE,BUSIA,IRDO,CDC,15968.0,2020-08-26,Aug-20,NaN,NaT,NaN
4082,15968,LUKOLIS MODEL HEALTH CENTRE,BUSIA,IRDO,CDC,15968.0,2020-11-30,Nov-20,NaN,NaT,NaN
4083,15968,LUKOLIS MODEL HEALTH CENTRE,BUSIA,IRDO,CDC,15968.0,2020-09-15,Sep-20,NaN,NaT,NaN
4084,16087,OBEKAI DISPENSARY,BUSIA,IRDO,CDC,NaN,NaT,NaN,NaN,NaT,NaN

In [11]:
#Create a concatenated column to differentiate the multi-partner supported HTS Sites
rr['UnikSite']=rr['DisplayMFL'].map(str) + '/' + rr['DisplayMechanism'].map(str)

In [35]:
rr['UnikSite'].sample

<bound method NDFrame.sample of 0       11936/CHS NAISHI
1       11936/CHS NAISHI
2       11936/CHS NAISHI
3       11936/CHS NAISHI
4       11936/CHS NAISHI
              ...
4080          17242/IRDO
4081          15968/IRDO
4082          15968/IRDO
4083          15968/IRDO
4084          16087/IRDO
Name: UnikSite, Length: 4076, dtype: object>

In [13]:
#Remove Duplicates from original dataset - Unique Site with 1 Upload Date, upload MPI
rr = rr.drop_duplicates(subset=["UnikSite","UploadDate"])
rr.shape

(4076, 12)

In [14]:
# Create a column called UploadedCT & UploadedMPI
rr['uploadedHTS'] = np.where(rr.UploadDate.isnull(),0,1)
rr['UploadedMPI'] = np.where(rr.UploadDate_MPI.isnull(),0,1)

### Summary Statistics
- How many Unique Facilities do we have (Number of Sites - Duplicates)

In [15]:
# Number of Unique EMR Sites - Denominator/ Expected Uploads
len(pd.unique(rr['UnikSite']))

590

<h2><center> Expected Uploads </center></h2>

In [16]:
#Create a data Frame to hold distinct list of sites for the denominator / Baseline EMR Sites
#We will use later for left joining
rr_denom = rr.drop_duplicates(subset=['UnikSite'])
rr_denom=rr_denom[['UnikSite','DisplayMFL','DisplayFacilityName','DisplayCounty','DisplayMechanism','DisplayAgency']]
rr_denom.head()

,UnikSite,DisplayMFL,DisplayFacilityName,DisplayCounty,DisplayMechanism,DisplayAgency
0,11936/CHS NAISHI,11936,ATHI RIVER HEALTH CENTRE,MACHAKOS,CHS NAISHI,CDC
13,12881/CHAK CHAP UZIMA,12881,BARAKA DISPENSARY (NAIROBI),NAIROBI,CHAK CHAP UZIMA,CDC
15,11265/CHAK CHAP UZIMA,11265,BURA MISSION CLINIC,TAITA TAVETA,CHAK CHAP UZIMA,CDC
25,23285/CHAK CHAP UZIMA,23285,CHAANI CATHOLIC,MOMBASA,CHAK CHAP UZIMA,CDC
35,19504/AMREF NAIROBI KITUI,19504,CHILD DOCTOR KENYA,NAIROBI,AMREF NAIROBI KITUI,CDC

In [17]:
rr_denom.shape

(590, 6)

<h2><center> HTS RECENCY </center></h2>

In [18]:
#Filter the Original RR Data to the specific RR Period (FromDate ToDate)
mask = (rr['UploadDate'] >= FromDate) & (rr['UploadDate'] <= ToDate)
recency=rr.loc[mask]
recency.shape

(422, 14)

In [19]:
#Number of Duplicates in CT_Recency Those that reported in the reporting month and between 1st and 5th of next month
len(recency['UnikSite'])- len(pd.unique(recency['UnikSite']))

0

In [20]:
#Remove duplicates.Making Sure we are counting a site only once within the reporting period being looked at
recency = recency.drop_duplicates(subset=["UnikSite"])
recency.shape

(422, 14)

In [21]:
#Join the CT Recency Dataset to the EMR Sites Denominator - #Left Join
result = pd.merge(rr_denom,
                 recency[['UnikSite','DisplayMFL', 'UploadDate','uploadedHTS']],
                 on='UnikSite', 
                 how='left')
result.shape

(590, 9)

<h2><center> HTS CONSISTENCY </center></h2>

In [22]:
# Define Period to compute 
consist_FromDate=pd.to_datetime(FromDate)-pd.DateOffset(months=2)
print('Consistency Period - From Date: ',consist_FromDate,'To Date: ',ToDate)

Consistency Period - From Date:  2021-03-01 00:00:00 To Date:  2021-05-31 00:00:00

In [23]:
#Filter the data to return - only sites that have Uploaded every month last 3 months
const = (rr['UploadDate'] >= consist_FromDate) & (rr['UploadDate'] <= ToDate)
consistency=rr.loc[const]
consistency.head()

,DisplayMFL,DisplayFacilityName,DisplayCounty,DisplayMechanism,DisplayAgency,SiteCode,UploadDate,Upload_monthYear,MPI_SiteCode,UploadDate_MPI,Upload_monthYear_MPI,UnikSite,uploadedHTS,UploadedMPI
0,11936,ATHI RIVER HEALTH CENTRE,MACHAKOS,CHS NAISHI,CDC,11936.0,2021-04-02,Apr-21,11936.0,2021-04-02,Apr-21,11936/CHS NAISHI,1,1
8,11936,ATHI RIVER HEALTH CENTRE,MACHAKOS,CHS NAISHI,CDC,11936.0,2021-03-03,Mar-21,11936.0,2021-03-03,Mar-21,11936/CHS NAISHI,1,1
9,11936,ATHI RIVER HEALTH CENTRE,MACHAKOS,CHS NAISHI,CDC,11936.0,2021-05-06,May-21,11936.0,2021-05-06,May-21,11936/CHS NAISHI,1,1
13,12881,BARAKA DISPENSARY (NAIROBI),NAIROBI,CHAK CHAP UZIMA,CDC,12881.0,2021-05-21,May-21,12881.0,2021-05-06,May-21,12881/CHAK CHAP UZIMA,1,1
22,11265,BURA MISSION CLINIC,TAITA TAVETA,CHAK CHAP UZIMA,CDC,11265.0,2021-05-18,May-21,11265.0,2021-05-18,May-21,11265/CHAK CHAP UZIMA,1,1

In [25]:
#Pivot the Data then add instances of uploads by month, filter only those that uploaded all 3 months
cs=pd.pivot_table(consistency, values='uploadedHTS', 
                    columns=['Upload_monthYear'],
                    index=['UnikSite','DisplayMFL'])

cs = cs.replace(np.nan, 0)
cs['UploadedConsistently']=cs.sum(axis=1) 
cs = cs.loc[(cs['UploadedConsistently']>=3)] 
cs.reset_index(inplace=True)# Flatten the table

#If Uploaded consistently is NULL then 0 other wise 1
cs['UploadedConsistently'] = np.where(cs.UploadedConsistently.isnull(),0,1)

cs

Upload_monthYear,UnikSite,DisplayMFL,Apr-21,Mar-21,May-21,UploadedConsistently
0,10267/CHAK CHAP UZIMA,10267,1.0,1.0,1.0,1
1,10545/UON CRISSP PLUS,10545,1.0,1.0,1.0,1
2,10602/CHAK CHAP UZIMA,10602,1.0,1.0,1.0,1
3,10686/CHS TEGEMEZA PLUS,10686,1.0,1.0,1.0,1
4,10765/UON CRISSP PLUS,10765,1.0,1.0,1.0,1
...,...,...,...,...,...,...
255,21117/HOPE WORLDWIDE KENYA,21117,1.0,1.0,1.0,1
256,21220/LVCT STEPS,21220,1.0,1.0,1.0,1
257,22476/EGPAF TIMIZA,22476,1.0,1.0,1.0,1
258,24552/HOPE WORLDWIDE KENYA,24552,1.0,1.0,1.0,1
259,25260/EGPAF TIMIZA,25260,1.0,1.0,1.0,1

In [26]:
#Join the Consistency Dataset to the CT Recency - #Left Join
result = pd.merge(result,
                 cs[['UnikSite', 'UploadedConsistently']],
                 on='UnikSite', 
                 how='left')
result.shape

(590, 10)

In [27]:
result=result[['UnikSite','DisplayMFL_x','DisplayFacilityName','DisplayCounty','DisplayMechanism','DisplayAgency','UploadDate','uploadedHTS','UploadedConsistently']]
result

,UnikSite,DisplayMFL_x,DisplayFacilityName,DisplayCounty,DisplayMechanism,DisplayAgency,UploadDate,uploadedHTS,UploadedConsistently
0,11936/CHS NAISHI,11936,ATHI RIVER HEALTH CENTRE,MACHAKOS,CHS NAISHI,CDC,2021-05-06,1.0,1.0
1,12881/CHAK CHAP UZIMA,12881,BARAKA DISPENSARY (NAIROBI),NAIROBI,CHAK CHAP UZIMA,CDC,2021-05-21,1.0,NaN
2,11265/CHAK CHAP UZIMA,11265,BURA MISSION CLINIC,TAITA TAVETA,CHAK CHAP UZIMA,CDC,2021-05-18,1.0,NaN
3,23285/CHAK CHAP UZIMA,23285,CHAANI CATHOLIC,MOMBASA,CHAK CHAP UZIMA,CDC,2021-05-17,1.0,NaN
4,19504/AMREF NAIROBI KITUI,19504,CHILD DOCTOR KENYA,NAIROBI,AMREF NAIROBI KITUI,CDC,2021-05-19,1.0,NaN
...,...,...,...,...,...,...,...,...,...
585,20029/IRDO,20029,SINDO DICE,HOMA BAY,IRDO,CDC,NaT,NaN,NaN
586,15800/IRDO,15800,ANGURAI HEALTH CENTRE,BUSIA,IRDO,CDC,NaT,NaN,NaN
587,17242/IRDO,17242,KAMOLO DISPENSARY,BUSIA,IRDO,CDC,NaT,NaN,NaN
588,15968/IRDO,15968,LUKOLIS MODEL HEALTH CENTRE,BUSIA,IRDO,CDC,NaT,NaN,NaN
589,16087/IRDO,16087,OBEKAI DISPENSARY,BUSIA,IRDO,CDC,NaT,NaN,NaN

### HTS Reporting Rates by County

In [30]:
byCounty=(result.groupby(['DisplayCounty'])
   .agg({'DisplayCounty':'count','uploadedHTS': 'sum','UploadedConsistently':'sum'})
   .rename(columns={'DisplayCounty':'ExpectedUpload','uploadedHTS' : 'CT Recently Uploaded','UploadedConsistently' : 'CT Consistency' })
         )
byCounty.reset_index(inplace=True)# Flatten the table
byCounty['Recency%']=(byCounty['CT Recently Uploaded']/byCounty['ExpectedUpload'])
byCounty['Consistency%']=(byCounty['CT Consistency']/byCounty['ExpectedUpload'])
byCounty=byCounty [['DisplayCounty','ExpectedUpload','CT Recently Uploaded','Recency%','CT Consistency','Consistency%']]
byCounty

,DisplayCounty,ExpectedUpload,CT Recently Uploaded,Recency%,CT Consistency,Consistency%
0,BOMET,1,0.0,0.000000,0.0,0.000000
1,BUNGOMA,2,2.0,1.000000,0.0,0.000000
2,BUSIA,5,1.0,0.200000,0.0,0.000000
3,EMBU,1,1.0,1.000000,1.0,1.000000
4,HOMA BAY,167,117.0,0.700599,55.0,0.329341
5,KAJIADO,1,1.0,1.000000,1.0,1.000000
6,KAKAMEGA,3,3.0,1.000000,0.0,0.000000
7,KIAMBU,21,15.0,0.714286,5.0,0.238095
8,KILIFI,1,1.0,1.000000,1.0,1.000000
9,KIRINYAGA,6,5.0,0.833333,2.0,0.333333
10,KISII,32,31.0,0.968750,25.0,0.781250
11,KISUMU,47,30.0,0.638298,15.0,0.319149
12,KITUI,21,21.0,1.000000,21.0,1.000000
13,KWALE,2,0.0,0.000000,0.0,0.000000
14,MACHAKOS,35,26.0,0.742857,16.0,0.457143
15,MAKUENI,21,16.0,0.761905,14.0,0.666667
16,MIGORI,43,41.0,0.953488,36.0,0.837209
17,MOMBASA,5,4.0,0.800000,3.0,0.600000
18,MURANG'A,4,3.0,0.750000,2.0,0.500000
19,NAIROBI,47,22.0,0.468085,12.0,0.255319
20,NAKURU,3,3.0,1.000000,2.0,0.666667
21,NYAMIRA,35,29.0,0.828571,14.0,0.400000
22,NYANDARUA,1,1.0,1.000000,0.0,0.000000
23,NYERI,1,1.0,1.000000,1.0,1.000000
24,SIAYA,80,44.0,0.550000,33.0,0.412500
25,TAITA TAVETA,4,3.0,0.750000,0.0,0.000000
26,THARAKA-NITHI,1,1.0,1.000000,1.0,1.000000

### HTS Reporting Rates by Partner

In [31]:
byPartner=(result.groupby(['DisplayMechanism'])
   .agg({'DisplayMechanism':'count','uploadedHTS': 'sum','UploadedConsistently':'sum'})
   .rename(columns={'DisplayMechanism':'ExpectedUpload','uploadedHTS' : 'CT Recently Uploaded','UploadedConsistently' : 'CT Consistency' })
         )
byPartner.reset_index(inplace=True)# Flatten the table
byPartner['Recency%']=(byPartner['CT Recently Uploaded']/byPartner['ExpectedUpload'])
byPartner['Consistency%']=(byPartner['CT Consistency']/byPartner['ExpectedUpload'])
byPartner=byPartner [['DisplayMechanism','ExpectedUpload','CT Recently Uploaded','Recency%','CT Consistency','Consistency%']]

### Save the data to Excel

In [32]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
rrperiod=str(calendar.month_abbr[FromDate.month])+str(FromDate.year)
filename='HTSReportingRates_mysql_'+str(rrperiod)+".xlsx"

In [34]:
writer = pd.ExcelWriter(filename, engine='xlsxwriter')

# Write each dataframe to a different worksheet.
result.to_excel(writer, sheet_name='LineList')
byCounty.to_excel(writer, sheet_name='ByCounty')
byPartner.to_excel(writer, sheet_name='ByPartner')

# Close the Pandas Excel writer and output the Excel file.
writer.save()